<!DOCTYPE html>
<html layout:decorator="layout/layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Sign Up | KhidaShamlao</title>
</head>

<body>
<section id="content" layout:fragment="content">
<div class="py-1">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card text-white p-5 bg-secondary">
                    <div class="card-body">
                        <h1 class="mb-4">Sign up <span><button class="btn btn-secondary" id="toggleForm" value="user"
                                                               onclick="formDisplayer()"><h2 id="toggleName">as Restaurant</h2></button></span>
                        </h1>
                        <!--User Sign up-->
                        <div id="user_signup">
                            <p id="demo"></p>
                            <form action="https://formspree.io/YOUREMAILHERE">
                                <div class="form-group">
                                    <input type="input" class="form-control" placeholder="First Name"/>
                                    <input type="input" class="form-control" placeholder="Last Name"/>
                                    <div class="btn-group">
                                        <button class="btn dropdown-toggle btn-secondary" data-toggle="dropdown">
                                            Gender
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Female</a>
                                            <a class="dropdown-item" href="#">Male</a>
                                            <a class="dropdown-item" href="#">Other</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="E-Mail"/>
                                    <input type="input" class="form-control" placeholder="Mobile"/>
                                </div>
                                <div class="form-group">
                                    <input type="input" class="form-control" placeholder="Username"/>
                                    <input type="password" class="form-control" placeholder="Password"/></div>
                                <div class="form-group">
                                    <input type="date" class="form-control" placeholder="Date of Birth"/></div>
                                <button type="submit" class="btn btn-secondary">Login</button>
                            </form>
                        </div>
                        <!--Restaurant Sign up-->
                        <div id="restaurant_signup" style="display: none;">
                            <form action="https://formspree.io/YOUREMAILHERE">
                                <div class="form-group">
                                    <input type="input" class="form-control" placeholder="Restaurant Name"/>
                                    <input type="input" class="form-control" placeholder="Branch"/>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="E-Mail"/>
                                    <input type="input" class="form-control" placeholder="Mobile"/>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" id="comment"
                                              placeholder="Description"></textarea></div>
                                <div class="form-group">
                                    <div class="btn-group">
                                        <button class="btn dropdown-toggle btn-secondary" data-toggle="dropdown">
                                            Cuisine
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Fast Food</a>
                                            <a class="dropdown-item" href="#">Bangla</a>
                                            <a class="dropdown-item" href="#">Chinese</a>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn dropdown-toggle btn-secondary" data-toggle="dropdown">
                                            Environment
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Cart</a>
                                            <a class="dropdown-item" href="#">Bar</a>
                                            <a class="dropdown-item" href="#">Restaurant</a>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-secondary">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>